/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-yellow: hsl(47, 88%, 63%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray-500: hsl(0, 0%, 42%);
  --color-gray-950: hsl(0, 0%, 7%);
  --font-primary: "Figtree", sans-serif;
  --font-weight-primary: 500;
  --font-weight-secondary: 800;
  --font-size: 16px;
}
a {
  color: #000;
  text-decoration: none;
}
body {
  background-color: var(--color-yellow);
}

#preview-card-container {
  width: 384px;
  height: 565px;
  background-color: var(--color-white);
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 8px 8px 0px 0px black;
  padding: 1.2rem;
  margin: 13rem auto;
}

.preview-card-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-card-img img {
  border-radius: 10px;
}

.preview-card-text {
  margin-top: 1.2rem;
  margin-left: 5px;
}

.yellow-bg {
  background-color: var(--color-yellow);
  padding: 4px 12px;
  border-radius: 4px;
  width: 90px;
}

.published-date {
  font-size: 14px;
  font-weight: 500px;
  margin-top: 0.7rem;
  margin-bottom: 1rem;
}

.blog-post-title {
  font-size: 24px;
  font-weight: 800;
  margin-top: 0.7rem;
  margin-bottom: 1rem;
}

.blog-post-title:hover {
  color: var(--color-yellow);
}

.preview-text {
  color: #7f7f7f;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.blog-post-avatar-container {
  display: flex;
  align-items: center;
}

.blog-post-avatar-container h4 {
  margin-left: 1rem;
  font-size: 14px;
  font-weight: 800;
}

/* 
Media Queries
*/

@media screen and (max-width: 500px) {
  #preview-card-container {
    width: 90%;
    margin: 13rem auto;
  }

  .preview-card-img img {
    width: 100%;
  }
}
